.home-container{
    padding: 60px 24px 40px;
    margin: 0 auto;
    text-align: center;
    max-width: 900px;
   


}
.hero-title{
    font-size: 36px;
    font-weight: bold;
    color: #ffffff;
    margin: 40px 0 24px;
}

.mood-row {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
    flex-wrap: wrap;
}

.mood-button {
    background-color: #2c3a87;
    border: solid 2px #374eaa;
    border-radius: 16px;
    padding: 16px 20px;
    min-width: 110px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.mood-button:hover {
    box-shadow: 0 0 20px #5d5bbca6;
    outline: 3px solid #5d5bbca6;
    outline-offset: 4px;
    background-color: #5d5bbca6;
}

.mood-emoji {
    font-size: 32px;
    margin-bottom: 8px;
}

.mood-label {
    margin-top: 8px;
    font-size: 16px;
    color: hsl(0, 0%, 100%);
}   

.logMood-button {
    margin-top: 40px;
    color: rgb(255, 255, 255);
    background-color: #374eaa5b;  
    border: 2px solid #374eaa;
    border-radius: 24px;
    padding: 20px 32px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background: linear-gradient(90deg, #3550ff3a, #7A3FFF)
    /*background-color: #374eaa5b;*/  
}
.logMood-button:active, .logMood-button:hover {
    box-shadow: 0 0 20px #D96CE8;
    outline: 3px solid #D96CE8;
    outline-offset: 4px;
    background-color: #2c3a87;
}

.stats-row {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
    flex-wrap: wrap;
}

.stat-card {
    background-color: #2c3a8776;
    border: solid 2px #374eaa;
    border-radius: 16px;
    padding: 20px;
    margin-top: 30px;
    text-align: left;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}   

.stat-title {
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 12px;
}

.stat-value {
    font-size: 16px;
    color: #ffffff;
}