body{
  margin: 0;
  padding: 0;
  min-height: 100vh;


background: linear-gradient(
  #0B0A1C,
  #1C1350,
  #361568,
  #B45CFF,
  #ff5bd4
  
);

background-attachment: fixed;
background-size: cover;
}

.navbar {
  /*margin: 0;*/
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(78, 77, 77);
  padding: 12px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

