
.moodlog-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  padding-top: 150px; 
  color: #f5f5ff;
  font-family: Arial, sans-serif;
}

.moodlog-container h1 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 25px;
  text-align: center;
  color: #ffffff;
  font-weight: 600;
}


.moodlog-form {
  width: 380px;
  background: rgba(255, 255, 255, 0.09);
  backdrop-filter: blur(12px);
  border-radius: 18px;
  padding: 30px 25px;

  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 18px 45px rgba(0, 0, 0, 0.5);

  display: flex;
  flex-direction: column;
  gap: 18px;
}


.moodlog-form label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 15px;
  color: #e9e9ff;
}

.moodlog-form select {
  padding: 12px;
  border-radius: 12px;

  background: rgba(12, 12, 35, 0.7);
  border: 1px solid rgba(255, 255, 255, 0.25);

  color: white;
  font-size: 15px;
  outline: none;

  transition: 0.2s ease;
}

.moodlog-form select:focus {
  border-color: #b388ff;
  box-shadow: 0 0 0 2px rgba(179, 136, 255, 0.6);
}


.moodlog-form textarea {
  padding: 12px;
  height: 100px;

  border-radius: 12px;
  resize: none;

  background: rgba(12, 12, 35, 0.7);
  border: 1px solid rgba(255, 255, 255, 0.25);

  color: white;
  font-size: 15px;

  transition: 0.2s ease;
}

.moodlog-form textarea:focus {
  border-color: #b388ff;
  box-shadow: 0 0 0 2px rgba(179, 136, 255, 0.6);
}


.moodlog-form button {
  width: 100%;
  padding: 14px;

  border-radius: 12px;
  border: none;

  background: linear-gradient(90deg, #6366f1, #ec4899);
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 600;

  cursor: pointer;
  transition: 0.2s ease;
  margin-top: 10px;
}

.moodlog-form button:hover {
  transform: translateY(-2px);
  box-shadow: 0 12px 30px rgba(129, 140, 248, 0.6);
  opacity: 0.95;
}

.status-message {
  margin-top: 16px;
  font-size: 16px;
  font-weight: 500;

  text-align: center;
  color: #ffd6ff;
}
